<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <script src="https://kit.fontawesome.com/8ca159327f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.png">
    <title>Login page</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <button class="home">
                <i class="fa-solid fa-house"></i> Home
            </button>
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="username" type="text" placeholder="&#xf007;   username">
                <input name="password" type="password" placeholder="&#xf023;   password">
                <button class="loginButton">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp; login
                </button>
            </form>
        </div>
    </div>
</body>