input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
    font-family: 'Raleway', FontAwesome, cursive;
}

.search-bar {
    width: 70%;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.events > div > img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.events > div > div {
    height: 50%;
    margin: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.events > div {
    border: 1px solid gray;
    border-radius: 1em;
    height: 400px;
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 6px gray;
}

.fa-circle-check,
.fa-circle-question,
.fa-circle-xmark {
    padding: 5px;
    border-radius: 10px;
}

.social-section i {
    cursor: pointer;
}

.fa-circle-check {
    background-color: greenyellow;
}

.fa-circle-question {
    background-color: rgba(255, 255, 0, 0.7);
}

.fa-circle-xmark {
    background-color: rgba(255, 0, 0, 0.7);
}

.social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-device-width: 420px) {

    header {
        height: 5vh;
    }

    .add-event, input {
        font-size: 25px;
    }

    .search-bar, input {
        height: 4vh;
    }

    nav {
        height: 12%;
    }

    main {
        height: 70%;
    }

    section {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .events > div {

        border-radius: 1em;
        height: 700px;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main {
        height: 90vh;
    }

    .burger {
        display: block;
        align-self: flex-end;
        transition: .3s ease-in-out;
    }

    nav > img {
        margin-bottom: 0;
    }
}