form {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.loginButton {

    border: none;
    color: white;
    line-height: 3em;
    margin: 3em 1em 1em;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 35px;
    font-family: 'Raleway', FontAwesome, cursive;
    box-shadow: 0 3px 6px gray;
    justify-self: center;
}

.search-bar {
    width: 30%;
}

.add-event {
    width: 30%;
    font-size: 11px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    overflow: auto;
}

.notifications > div > div {
    height: 50%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.notifications > div {
    border: 1px solid gray;
    border-radius: 1em;
    height: 100px;
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 6px gray;
}

.notifications > div > div > h3 {
    margin: 20px 0;
}

.notifications > div > div > p {
    margin: 0 0;
}

@media only screen and (max-device-width: 420px) {
    nav {
        height: 20%;
    }

    .notifications > div {
        border-radius: 1em;
        height: 400px;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}