section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    overflow: auto;
    height: 100%;
}

.notifications > div > div {
    height: 50%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notifications > div {
    border: 1px solid gray;
    border-radius: 1em;
    height: 100px;
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notifications > div > div > h2 {
    margin: 10px 0;
}

.notifications > div > div > p {
    margin: 0 0;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 80%;
    font-family: 'Raleway', FontAwesome, cursive;
}

.login-container {
    width: 100%;
    height: 100%;
}

form.login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loginButton {
    width: 100%;
    border: none;
    color: white;
    line-height: 3em;
    margin: 3em 1em 1em;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 35px;
    font-family: 'Raleway', FontAwesome, cursive;
    box-shadow: 0 3px 6px gray;
    justify-self: center;
}

@media only screen and (max-device-width: 420px) {

    nav {
        height: 20%;
    }

    .notifications > div {
        border-radius: 1em;
        height: 400px;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form.login {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input, .loginButton, .title-bar {
        font-size: 40px;
    }
}